# Android/Gradle
**/build/
.gradle/
local.properties

# IDE
*.iml
.idea/
!.idea/codeStyles/**
!.idea/inspectionProfiles/**
#.idea/runConfigurations/**   # 若要共享运行配置，去掉前面的 #

# Keystore & secrets
*.jks
*.keystore
*.pem
*.p12

# Misc
captures/
.externalNativeBuild/
.cxx/
.DS_Store
Thumbs.db
